/* Structure */
/* table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .section {
    
  
  } */

/* 
  table[_ngcontent-c10] {
    width: 80% !important;
    float: right !important;
  } */