<mat-card class="form-style">
  <form
    
    (ngSubmit)="forgotPassword()"
  >
    <mat-card-title style="margin: 0 auto !important; padding-bottom: 10px;">Forgot Password</mat-card-title>

    <div class="example-container container !important">
      <div class="example-container">
        <mat-form-field class="fullWidth">
          <input
            matInput
            placeholder="Enter your email"
            name="email"
            [(ngModel)]="model.email"
            required
          />
        </mat-form-field>
      </div>

      
    </div>
    <div>
      <button
        mat-raised-button
        class="btn btn-lg btn-primary btn-block button"
        type="submit"
      >
        Submit
      </button>
      <button mat-raised-button  style="margin-left: 5px;" type="button" (click)="cancel()">Cancel</button>

    </div>
  </form>
</mat-card>