<mat-card class="form-style">
  <form
    
    (ngSubmit)="resetPassword()"
  >
    <mat-card-title style="margin: 0 auto !important; padding-bottom: 10px;">Reset Password</mat-card-title>

    <div class="example-container">

        <mat-form-field class="fullWidth">
            <input
              matInput
              placeholder="Enter your email"
              name="email"
              [(ngModel)]="model.email"
              required
            />
          </mat-form-field>
          <!-- <mat-form-field class="fullWidth">
            <input matInput placeholder="Email" value="{{ user?.email }}" readonly />
            <mat-hint>Readonly field</mat-hint>
          </mat-form-field> -->

      <mat-form-field class="fullWidth">
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          required
          name="password"
          [(ngModel)]="model.password"
        />
        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field class="fullWidth">
        <input
          matInput
          placeholder="Confirm your password"
          [type]="hide ? 'password' : 'text'"
          required
          name="confirmPassword"
          [(ngModel)]="model.confirmPassword"
        />
        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button
        mat-raised-button
        class="btn btn-lg btn-primary btn-block button"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>