.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: flex-start;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 20px;
  }

  mat-grid-tile {
    background: lightblue;
  }