<mat-card class="example-card">
  <mat-card-title>Assign Product To Location</mat-card-title>
  <mat-dialog-content>
    <form #assignForm (ngSubmit)="assignProduct(assignForm)">
      <mat-form-field class="fullWidth">
        <!-- <input matInput placeholder="product name" [(ngModel)]="productName" name="productName"
          value="productName"> -->
          <input readonly="true" matInput placeholder="product name" [(ngModel)]="model.name" name="name">

      </mat-form-field>
      <!-- <mat-form-field class="fullWidth">
        <mat-select placeholder="Product" [(ngModel)]="selectedProduct" name="product">
          <mat-option *ngFor="let product of products" [value]="product.productId">
            {{product.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field class="fullWidth">
        <mat-select placeholder="Authority" (selectionChange)="onUserSelectTopAuthority($event)" [(value)] = "selectedAuthority">
          <mat-option *ngFor="let authority of authorities" [value]="authority.authorityUnitId" >
            {{authority.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <mat-select placeholder="Location" (selectionChange)="onUserSelectLevel1($event)" [(value)] = "selectedLevel1Authority">
          <mat-option *ngFor="let level1authority of level1Authorities" [value]="level1authority.authorityUnitId"
          >
            {{level1authority.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <mat-select placeholder="Site" (selectionChange)="onUserSelectLevel2($event)" [(value)] = "selectedLevel2Authority">
          <mat-option *ngFor="let level2authority of level2Authorities" [value]="level2authority.authorityUnitId">
            {{level2authority.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> 

      <mat-form-field class="fullWidth" [hidden]="hideLevel3DropDown">
        <mat-select placeholder="Department" (selectionChange)="onUserSelectLevel3($event)" [(value)] = "selectedLevel3Authority" required>
          <mat-option *ngFor="let level3authority of level3Authorities" [value]="level3authority.authorityUnitId">
            {{level3authority.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions style="margin-left: 5px;">
        <!-- <button type="submit" mat-raised-button matTooltip="Press to assign"
          aria-label="Button that displays a tooltip when focused or hovered over">Assign</button> -->
          <button type="submit" mat-raised-button  matTooltip="Press to assign" color="primary">SUBMIT</button>
        <button type="button" mat-raised-button  [mat-dialog-close]="false" class="spacer-left" color="warn">CANCEL</button>
      </mat-card-actions>
    </form>
  </mat-dialog-content>
</mat-card>