<div class="container">
  <div class="search" fxLayout fxLayoutAlign="center center">
    <div class="search-select-left" fxLayout="column" fxLayoutAlign="bottom">
      <span>Sites</span>
      <mat-form-field>
        <mat-select placeholder="Create New" (selectionChange)="onUserSelectAddNew(selectedAddNewSite)" [(value)]="selectedAddNewSite">
          <mat-option *ngFor="let site of sites" [value]="site.value" >
            {{site.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

    <div gdArea="right-content" gdColumn="2 / span 2" >
    
      <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
          <input [disabled]="authorityFilter" matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
        </mat-form-field>
      </div>
  
      <div class="example-container mat-elevation-z8" style="width:98%; margin: 5px auto">

    <div class="right-70">
        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; max-height: 95%;  overflow: auto">
            <mat-progress-bar color="primary"  mode="indeterminate"></mat-progress-bar>
          </div>
      <mat-table
        #Table
        [dataSource]="MyDataSource"
        matSort
        style="max-height: 98%;"
      >
        <ng-container matColumnDef="Authority">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
            Authority
          </mat-header-cell>
          <mat-cell *matCellDef="let authority">
            {{ authority.topLevelName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Site">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
            Site
          </mat-header-cell>
          <mat-cell *matCellDef="let authority">
            {{ authority.subTopLevelName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Location">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
            Location
          </mat-header-cell>
          <mat-cell *matCellDef="let authority">
            {{ authority.hospitalLevelName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Department">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
            Department
          </mat-header-cell>
          <mat-cell *matCellDef="let authority">
            {{ authority.departmentLevelName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Sub-Department">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
            Sub-Department
          </mat-header-cell>
          <mat-cell *matCellDef="let authority">
            {{ authority.departmentLevelChildName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Floor">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
            Floor
          </mat-header-cell>
          <mat-cell *matCellDef="let authority">
            {{ authority.floorLevelName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title">
              Edit
            </mat-header-cell>
            <mat-cell *matCellDef="let authority">
              <mat-icon
                style="cursor: pointer"
                (click)="openSiteEditPage(authority)"
                >edit</mat-icon
              >
            </mat-cell>
          </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selectRow(row)"
        ></mat-row>
      </mat-table>

      <mat-paginator
        #paginator
        [pageSize]="15"
        [pageSizeOptions]="[15, 50, 100]"
      >
      </mat-paginator>
    </div>




















