<mat-card>
  <form
    #createManufacturer="ngForm"
    (ngSubmit)="createManufacturers()"
    id="createManufacturer"
  >
    <!-- <div *ngIf="editForm.dirty" style="color: orangered" >
          <p><strong>You have made changes. Any unsaved changes will be lost.</strong></p>
      </div> -->
    <mat-card-title style="margin: 0 auto !important; padding-bottom: 10px;"
      >Create Manufacturer</mat-card-title
    >
    <mat-form-field class="fullWidth">
      <input
        matInput
        placeholder="Company Name"
        name="name"
        [(ngModel)]="model.name"
      />
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <input matInput placeholder="URL" name="url" [(ngModel)]="model.url" />
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <input
        matInput
        placeholder="MSDS Url"
        name="msdsUrl"
        [(ngModel)]="model.msdsUrl"
      />
    </mat-form-field>

    <!-- <contactLocation></contactLocation>
    <br /> -->

    <mat-form-field style="width:100%">
      <mat-label>Contact Location</mat-label>
      <mat-select
        [formControl]="ContactLocationFormControl"
        multiple
        [(value)]="selectedContactInfo"
        [(ngModel)]="selectedContactInfo"
        (selectionChange)="onSelectContactLocation(selectedContactInfo)"
      >
        <mat-optgroup
          *ngFor="let group of ContactLocationGroups"
          [label]="group.name"
          [disabled]="group.disabled"
        >
          <mat-option
            *ngFor="let model of group.contactLocation"
            [value]="model.value"
          >
            {{ model.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width:100%">
      <textarea
        matInput
        placeholder="Notes"
        name="notes"
        [(ngModel)]="model.notes"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <input
        matInput
        placeholder="Email"
        name="contactEmail"
        [(ngModel)]="model.contactEmail"
      />
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <input
        matInput
        placeholder="Form URL"
        name="contactUrl"
        [(ngModel)]="model.contactUrl"
      />
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <input
        matInput
        placeholder="Phone"
        name="contactPhoneNumber"
        [(ngModel)]="model.contactPhoneNumber"
      />
    </mat-form-field>

    <mat-form-field class="fullWidth">
      <input
        matInput
        placeholder="Fax"
        name="contactFaxNumber"
        [(ngModel)]="model.contactFaxNumber"
      />
    </mat-form-field>

    <mat-form-field style="width:100%">
      <textarea
        matInput
        placeholder="Contact Details"
        name="contactDetails"
        [(ngModel)]="model.contactDetails"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      style="margin-left: 5px;"
      type="submit"
      form="createManufacturer"
    >
      Save
    </button>

    <button
      style="margin-left: 5px;"
      mat-raised-button
      [mat-dialog-close]="false"
      color="warn"
    >
      Cancel
    </button>

  </form>
</mat-card>
